# --- Python Build Artifacts (DO NOT COMMIT) ---
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Virtual Environments ---
venv/
.venv/
env/
.env

# --- IDE Settings ---
.vscode/
.idea/

# --- Distribution / Packaging ---
MANIFEST


# Test Cases
tests/

# testing environment
.venv/

# pytest cache
.pytest_cache/

# dev docs
dev docs/